table {border-collapse: collapse;}
        th,td {padding: 5px; text-align: center;}
        .saturday {color: gray;}
        .sunday,.holiday,.today {color: red;}
        .today {border: 1px; border-radius: 50%;color: white;background-color: red;}
        #calendarControls {text-align: center;}